@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
html {
  font-size: 16px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #25274d !important; */
  background-color: #333 !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto' !important;
  font-family: 'PT Sans' !important;
  font-family: 'Montserrat' !important;
}

.lowScore {
  background-color: red;
  border: none;
  margin: 1px;
  width: 400px;
}

.highScore {
  background-color: limegreen;
  border: none;
  margin: 1px;
  width: 400px;
}

@media(max-width: 600px) {
  .lowScore {
    background-color: red;
    border: none;
    margin: 1px;
    width: 300px;
  }
  .highScore {
    background-color: limegreen;
    border: none;
    margin: 1px;
    width: 300px;
  }
}

@media(min-width: 900px) {
  #testsAndScores {
    text-align: left;
    flex: 25%;
  }
  .userAreaBtn {
    float: right;
    margin-right: 20vw;
  }
}

@media(max-width: 899px) {
  #testsAndScores {
    text-align: left;
    flex: 25%;
  }
  .userAreaBtn {
    float: right;
    margin-right: 2vw;
  }
}

#loadingMessages {
  display: inline;
}

/* Text */

.h4, h4 {
  font-size: 1.5rem;
  color: white;
  padding: 10px 0 0 10px;
}

.h5, h5 {
  font-size: 1rem;
  color: white;
  padding: 10px 0 0 10px;
}

a.title {
  color: #fafafa;
  text-decoration: none;
}

a.title:hover {
  color: white;
  text-decoration: underline;
}

#isLoading {
  color: white;
  display: none;
  justify-content: center;
  width: 100%;
  font-size: 200%;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    max-width: 67vw;
  }
}

.dropdown-item {
  text-transform: capitalize;
}

label {
  padding: 7px;
}

#userArea {
  color: white;
}

#otherPages {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: #aaabb8;
  text-align: center;
  padding: 2em 10px;
  margin-top: 4em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.center {
  text-align: center;
}

.subHeading {
  font-size: 1.7rem;
  color: #333;
  color: whitesmoke;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: #333;
  background-color: #f0f0f0;
  background-image: url('http://www.tomsclassroom.com/classroomjpg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .6;
  filter: brightness(70%) invert(0) blur(0px) contrast(1) grayscale(0);
}

.headingTitle {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  margin: 0 auto;
  z-index: 1;
  color: #4db6f8;
  color: #fafafa;
  color: #333;
  background-image: linear-gradient(to left, rgb(0, 0, 0, 0), rgb(51, 51, 51, 1));
  background-image: linear-gradient(to left, rgb(255, 255, 255, 0) 1%, rgb(255, 255, 255, .5) 29%, rgb(255, 255, 255, 1) 70%);
  border-radius: .2em;
  padding: 1em;
}

.headingTitle h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.headingTitle h2 {
  font-size: 1.2rem;
  color: #fafafa;
  color: #333;
  font-weight: 400;
}

@media(max-width: 900px) {
  .headingTitle h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  .headingTitle h2 {
    font-size: 1rem;
    color: #fafafa;
    color: #333;
    font-weight: 800;
  }
  .headingTitle {
    position: absolute;
    top: 70%;
    left: 20%;
    width: 80%;
    margin: 0 auto;
  }
}

.title {
  font-size: 150% !important;
  font-weight: 600;
  color: skyblue;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  /* font-family: 'Ubuntu'; */
}

.user {
  margin-top: 8px;
  padding-left: .5em;
  color: limegreen;
  color: rgb(34, 142, 236);
  font-weight: 600;
}

#codeForm {
  display: none;
}

#red {
  color: red;
}

.bg-light {
  background-color: inherit !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(https://tomsclassroom.com/react/navIcon.png) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-toggler-icon {
  background-color: transparent !important;
}

.homeBtn {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid darkgray;
  margin: .2em;
  padding: 1em;
  width: 100%;
  font-weight: 800;
  border-radius: 2px;
}

.homeBtn:hover {
  background-color: whitesmoke;
  color: #333;
}

.footer {
  Margin: 0 auto 10px 0;
  text-align: center;
  max-width: 100vw;
  color: white;
}

.blue {
  color: blue;
}

.blockTitle {
  font-size: 200%;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  margin: 0px 0px 2vw 0px;
}

.blockText {
  font-size: 240%;
  font-family: 'Courgette', cursive;
  font-weight: 800;
}

.photoBar {
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
}

.collocations {
  border: 1px solid #2e9cca;
  padding: 1vw;
  margin: 3vw;
  max-width: 100vw;
  border-radius: 2px;
  background-color: white;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  padding: 0 4em 0 4em;
  color: whitesmoke;
}

@media(max-width:900px) {
  p {
    padding: 0 2em 0 2em;
  }
}

#homeTextArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0vh 3vw 5vh 3vw;
}

@media (min-width: 900px) {
  #homeTextArea {
    font-size: 200%;
  }
  .subHeading {
    margin-bottom: 5vh;
  }
  #homeTextArea p {}
}

#x {
  float: right;
  margin-right: .3em;
  color: red;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
}

#gamesLists {
  background-color: rgba(50, 50, 50, 0.6);
  width: 80%;
  display: none;
  flex-direction: column;
  vertical-align: top;
  border: 2px solid whitesmoke;
  padding: 1em;
}

.gamesListInner {
  display: flex;
  justify-content: space-around;
  padding: 3em;
  color: whitesmoke;
  font-size: 1.5rem;
}

@media(max-width:900px) {


  #gamesLists {
    
position: absolute;

top: 150%;
background-color:#333;
border: 2px solid skyblue;
width: 90%;
  }


  .gamesListInner {
    flex-direction: column;
    padding: 0em;
  }
}

.gamesListBtn {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid darkgray;
  margin: 2vw;
  padding: 1vw;
  width: 50vw;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-weight: 800;
  border-radius: 2px;
}

.targetPhrase {
  font-size: 220%;
  color: limegreen;
  margin-bottom: 2vh;
}

@media(min-width: 700px) {
  .targetPhrase {
    margin-bottom: 15vh;
  }
}

#endGameMessage {
  font-size: 120%;
  margin-bottom: 10vh;
}

#endGameArea {
  display: none;
  min-height: 60vh;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.endGameBtns {
  width: 30vh;
  margin: 2px auto;
  background-color: silver;
  padding: 1vh;
  font-weight: 800;
}

.endGameBtns:hover {
  background-color: #2e9cca;
}

.endGameBtns:active {
  background-color: #999;
}

.tile {
  color: #25274d;
  border: 1px solid #333;
  display: inline-block;
  margin: 2px;
  padding: 6px;
  cursor: pointer;
  font-size: 112%;
  font-weight: 800;
  box-shadow: 3px 3px #333;
}

.push {
  margin-top: auto;
}

#overallGame {
  margin-bottom: 200px;
}

.tile:hover {
  background-color: limegreen;
  color: #25274d;
}

.tile:active {
  box-shadow: 2px 2px #333;
  background-color: limegreen;
  color: #fff;
}

.hiddenAnswer {
  display: none;
}

.dashboard {
  display: flex;
  height: 100vh;
}

#instruction {
  margin: 0 3px 0 3px;
}

.dashboardContent {
  /*padding-left: 300px;*/
  flex: 1;
}

.pages {
  padding: 20px;
}

#gameTitle {
  width: 100vw;
  font-size: 130%;
  margin-bottom: 30px;
}

#gamePage {
  padding-top: 3vh;
  text-align: center;
  background-color: transparent;
  color: #aaabb8;
  min-height: 90vh;
  display: none;
}

/*
  .gameInner{
    margin-top: 5vh;
    padding-top: 2vh;
    border-top: 1px solid #2e9cca;
    min-height: 70vh; 
  }
*/

#gameArea {
  margin-top: 5vh;
  padding-top: 2vh;
  background-color: #2964a8;
}

.message {
  position: sticky;
  bottom: 0;
  /* background-color: #25274d; */
  margin-top: 2em;
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  color: #aaabb8;
  font-size: 180%;
  padding: 1vh 0 1vh 0;
}

.flex-container-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3em 0 3em 0;
}

.homeBtns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

#persist {
  visibility: hidden;
}

.arrow {
  font-size: 130%;
  margin: 3vw 0 0vh 0vw;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color:#f0f0f0; */
  background-image: url(https://tomsclassroom.com/react/arrow.png);
  background-size: contain;
  padding: 5px 0px 5px 5px;
  text-align: center;
}

@media(min-width: 900px) {
  .title {
    font-size: 150% !important;
    font-weight: 400;
    color: black;
    /* font-family: 'Dancing Script', cursive; */
  }
  .mainPage {
    /* background-image: url(https://tomsclassroom.com/react/lionbg2.jpg); 
    background-size: 100vw auto; */
    /* min-height: 10vh; */
  }
  .homeBtn {
    background-color: whitesmoke;
    color: #333;
    border: 1px solid darkgray;
    margin: .3em;
    padding: .5em .4em;
    width: 10em;
    border-radius: 2px;
    font-weight: 700;
    font-size: 80%;
  }
  .homeBtn:hover {
    background-color: #2e9cca;
    color: whitesmoke;
  }
  .homeBtn:active {
    background-color: #333;
    color: whitesmoke;
  }
  .gamesListBtn {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid darkgray;
    margin: 0.5vw;
    padding: 1vw;
    width: 20vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: 800;
    border-radius: 2px;
  }
  .flex-container {
    flex-direction: row;
  }
}